@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
i {
  margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo {
  padding: 15px;
  color: #fff;
}
.navbar-mainbg {
    background-color:#5161ce;
    padding: 0px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: #5161ce;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-radius: 15px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
  border-radius: 50%;
  background-color: transparent;
}
.hori-selector .left {
  left: -25px;
  border-radius: 50%;
  background-color: transparent;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;

}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}

#logo{
  width: 30%;
}
.title{
  position: relative;
  top:-25vh;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 10vw;
}
.mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.gmap_canvas{
  display: flex;
  justify-content: center;
  align-items: center;
}
#map{
  position: relative;
  top:-25vh;
  border-radius: 20px;
  border: none;
  width: 80vw;
  height: 81vh;
}
.line{
  top:-10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
hr{
width: 80vw;
height: 1vh;
border-radius: 10px;
background: rgb(154,19,199);
background: linear-gradient(90deg, rgba(154,19,199,1) 0%, rgba(9,121,114,1) 47%, rgba(114,191,213,1) 100%);
}






.cardBox{
  max-width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.events{
  display:flex;
  justify-content: center;
  align-items: center;
}
.card{
  margin-top:5vw;
  position: relative;
  width: 350px;
  height: 200px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 25px black;
  transition: .5s;
}

.card:hover{
  height: 450px;
}

.imgBx {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 30px;
  box-shadow: 0 15px 50px black;
  overflow: hidden;
  transition: .5s;
}

.card:hover.imgBx{
  width: 250px;
  height: 250px;
  transition: 0.5s;

}
.imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .content{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;

}

.card .content .details{
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: .5px;
  transform: translateY(130px);

}
.card:hover .content .details{
  transform: translateY(0);
  transition: 0.5s;
}

.card .content .details h2{
  font-size: 1.25em;
  font-weight: 600;
  color: #555;
  line-height: 1.2em;

}
.card .content .details h2 span{
  font-size: 0.75em;
  font-weight: 500;
  opacity: .5;
}
.card .content .details .data{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

}
.card .content .details .data h3{
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;

}
.card .content .details .data h3 span{
  font-size: 0.85em;
  font-weight: 400;
  opacity: .5;
}

.card .content .details .actionBtn{
  display: flex;
  justify-content: space-between;
}

.card .content .details .actionBtn button{
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  background: #ff5f96;
  color: #fff;
  cursor: pointer;
}
.card .content .details .actionBtn button:nth-child(2){
  border: 1px solid #999;
  color: #999;
  background: #fff;
}