.container img{
    border-radius:66% 34% 70% 30% / 30% 57% 43% 70%; 
    height: 30vw;
    width: 30vw;
    border: 1px solid red;
  }
.container{
    display: flex;
}
.textContainer{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    text-align: center;
}
.date{
    text-align: center;
}